<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95de7a">  <td>17/09/28 02:05:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mercer_Aus_Beneficiaries_TC006.mercerHomeNavigation(java.util.Hashtable)[pri:0, instance:testcases.Mercer_Aus_Beneficiaries_TC006@1cda2253]">mercerHomeNavigation</td> 
  <td>main@718364388</td>   <td></td> </tr>
</table>
