<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e73df">  <td>17/09/26 05:19:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mercer_Aus_Beneficiaries_TC006.mercerHomeNavigation(java.util.Hashtable)[pri:0, instance:testcases.Mercer_Aus_Beneficiaries_TC006@3c0f93f1]">mercerHomeNavigation</td> 
  <td>main@1045941616</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>17/09/26 05:22:10</td>   <td>184274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mercer_Aus_Beneficiaries_TC006.mercerHomeNavigation(java.util.Hashtable)[pri:0, instance:testcases.Mercer_Aus_Beneficiaries_TC006@3c0f93f1]">mercerHomeNavigation</td> 
  <td>main@1045941616</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>17/09/26 05:22:11</td>   <td>184626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mercer_Aus_Beneficiaries_TC006.mercerHomeNavigation(java.util.Hashtable)[pri:0, instance:testcases.Mercer_Aus_Beneficiaries_TC006@3c0f93f1]">mercerHomeNavigation</td> 
  <td>main@1045941616</td>   <td></td> </tr>
</table>
